/*.index .search-div{
  display: inline;
  width: 7rem;
  margin-left: 2rem;
}
.index .search-div input{
  margin: 0.5rem;
  height: 1.7rem;
  border-radius: 17px;
  border-style: none;
  padding-left: 1rem;
  width: 7rem;
  transition: width 0.7s;
  color:#294057;
  border: 0.1px solid #cfcfcf;
}
.index .search-div img{
  position: relative;
  left: -2rem;
  top: 0.2rem;;
  width: 0.9rem;
  height: 0.9rem;
}
.index .search-div input:focus{
  width: 12rem;
  border: 0.2px solid #b9b9b9;
}*/
.index .search-div{
  display: inline;
  width: 100%;
}
.index .search-div .mint-search{
  height: auto;
  font-size: 0.75rem;
}
.index .search-div .mint-search .mint-searchbar{
  background-color: white;
  transition: width 0.7s;
}
.index .search-div .mint-search  .mint-searchbar-inner{
  border: 1px solid #e2e2e2;
  height: 1.5rem;
}
.index .search-div .mint-searchbar-inner .mintui-search{
  font-size: 0.8rem;
}
.jiaocaiandfenlei .mint-navbar .mint-tab-item.is-selected {
  margin-bottom: 0;
  font-size: 0.6rem;
}
.index .mint-navbar{
  width: 4rem;
}
.jiaocaiandfenlei .top-mt-navbar{
  display: flex;
    justify-content: space-between;
}
.jiaocaiandfenlei .school-choose-div{
  width: 3rem;
  font-size: 0.6rem;
  line-height: 1;
  padding: 1rem 0 ;
}
.jiaocaiandfenlei  .picker{
  width: 400px;
  overflow: scroll;
}
.index .mint-tab-container{
  width: 4.5rem;
}
.index .mint-tab-container .mint-cell-wrapper{
  font-size: 0.6rem;
  text-align: center;
}
.index .mint-tab-container .mint-cell-wrapper:hover{
  background-color: rgba(191, 191, 193, 0.5);
}
.jiaocaiandfenlei .top-mt-navbar{
  width: 100%;
  height: 2.5rem;
}
.jiaocaiandfenlei .course-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  background-color: #ededed;
}
.index .course-selected{
  width: 100%;
  height: auto;
}
.index .course-selected .book-detail{
  background-color: white;
  width: 6rem;
  height: 7.9rem;
  margin: 1rem;
  font-size: 0.5rem;
}
.index .course-selected .book-detail .book-name{
  margin: 0 auto;
  text-align: center;
}
.index .course-selected .book-detail img{
  width: 4.4rem;
  height: 5rem;
  margin: 0.8rem;
}
